@charset "UTF-8";
html {
  font-size: 62.5%; }

/*共通*/
body {
  background-color: #f9f8f6; }

.text-center {
  text-align: center; }

.block-center {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.uppercase {
  text-transform: uppercase; }

h2 {
  margin: 10px auto;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: -.1rem; }

@media (min-width: 550px) {
  .sp_h2_title {
    display: none;
    margin: 20px auto; }

  .pc_h2_title {
    text-align: center;
    margin: 30px 0; } }
@media (max-width: 550px) {
  .sp_h2_title {
    text-align: center;
    margin: 20px auto; }

  .pc_h2_title {
    display: none;
    margin: 30px 0; } }
/*ヘッダー*/
@media (max-width: 550px) {
  header #sp_header {
    padding-top: 15px;
    padding-bottom: 4px;
    text-align: center; }
  header h1 {
    margin: 0;
    padding: 0; }
  header .pc_sns_navi {
    display: none; }
  header .pc_sns_btn {
    display: none; }
  header .sp_sns_navi {
    padding-bottom: 10px; }
  header .sp_sns_btn {
    padding: 0 10px; } }
@media (min-width: 550px) {
  header #sp_header {
    padding-top: 15px;
    padding-bottom: 4px;
    text-align: center; }
  header h1 {
    margin: 0;
    padding: 0;
    float: left; }
  header .pc_sns_navi {
    text-align: right;
    margin: 18px 0 30px; }
  header .pc_sns_btn {
    padding: 0 7px; }
  header .sp_sns_navi {
    display: none; }
  header .sp_sns_btn {
    display: none; } }

/*メイン*/
#items .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
#items .item-box {
  width: 33%;
  /*-webkit-flex: auto;*/
  /*flex: auto;*/
  margin: 1px 1px;
  padding: 10px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
@media (max-width: 550px) {
  #items .item-box {
    width: 49.2%; } }
#items .item_name {
  font-size: 1.3rem; }
#items .item_price {
  font-size: 1.6rem; }
#items .retreat_btn {
  float: left;
  width: 120px;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0 10px 0;
  padding: 0;
  background-color: #887f69;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#guide .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
#guide .guide-box {
  width: 49%;
  -webkit-flex: auto;
  flex: auto;
  margin: 1px 1px 7px;
  padding: 10px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
@media (max-width: 550px) {
  #guide .guide-box {
    width: 99%; } }
#guide .guide_h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #887f69; }
#guide .guide_h4 {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 1.3rem;
  color: #887f69; }
#guide .guide_text {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 1.5rem;
  font-size: 1.2rem; }

#bread .bread_box {
  width: 100%;
  line-height: 30px;
  margin: 0;
  padding: 0;
  background-color: #e2ddd4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#bread .bread_icon {
  padding: 0 10px; }
#bread .bread_text {
  font-size: 1.6px;
  color: #887f69; }

@media (max-width: 550px) {
  #main_img .pc_main_img {
    display: none; }
  #main_img .sp_main_img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0; } }
@media (min-width: 550px) {
  #main_img .pc_main_img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0; }
  #main_img .sp_main_img {
    display: none; } }

#watch_list .container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
#watch_list .watch-box {
  width: 33%;
  /*-webkit-flex: auto;*/
  /*flex: auto;*/
  margin: 1px 1px;
  padding: 10px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
@media (max-width: 550px) {
  #watch_list .watch-box {
    width: 49.2%; } }
#watch_list .watch_name {
  font-size: 1.3rem; }
#watch_list .watch_price {
  font-size: 1.6rem; }

#products .container {
  margin: 10px 0 0 0;
  width: 100%;
  background-color: #fff; }
#products .in_box {
  width: 85%;
  margin: 0 auto;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#products .title_box {
  padding: 10px 0 0 0;
  border-width: 1px;
  border-color: #d1d1d1;
  border-bottom-style: solid; }
#products .name {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 3px; }
#products .kataban {
  font-size: 1.2rem;
  color: #d1d1d1;
  float: right;
  line-height: 50px; }
#products .display_box {
  padding-top: 20px; }
#products #display_img img {
  width: 100%; }
#products .list_box {
  padding-top: 20px; }
#products li {
  list-style: none;
  display: inline-block; }
#products li img {
  width: 70px;
  cursor: pointer; }
#products .description_area {
  padding-top: 20px;
  border-width: 1px;
  border-color: #d1d1d1;
  border-bottom-style: solid; }

/*サイドバー*/
#sidebar .container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0 0 20px;
  box-sizing: border-box; }
@media (max-width: 550px) {
  #sidebar .container {
    padding: 0; } }
#sidebar .sidebar_box {
  width: 100%;
  margin: 0 0 10px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#sidebar .search_text {
  padding: 15px 0px 8px 15px; }
#sidebar form {
  width: 85%;
  margin: 0 auto; }
#sidebar input[type="text"] {
  padding: 0px 0px;
  background-color: #F5F5F5;
  border: 0 solid #D1D1D1;
  height: 30px; }
#sidebar .search {
  background: url("../images/top/search_icon.png") no-repeat 16px 16px;
  background-position: right center; }
#sidebar h3 {
  margin-bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #887f69;
  border: none; }
#sidebar .sidebar_h3_text {
  padding: 14px 10px;
  float: left; }
#sidebar .sidebar_h3_icon {
  padding: 13px 10px;
  float: right; }
#sidebar ul {
  margin-bottom: 0; }
#sidebar li {
  list-style: none; }
#sidebar .sidebar_box_categories {
  width: 100%;
  margin: 0 0 10px;
  background-color: #f9f8f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#sidebar .categories_box {
  margin-top: 0;
  margin-bottom: 2px;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none; }
#sidebar .categories_text {
  padding: 11px 10px;
  float: left;
  font-size: 1.2rem;
  color: #000; }
#sidebar .container2 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  padding: 5px; }
#sidebar .in-box {
  width: 49%;
  -webkit-flex: auto;
  flex: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 5px; }
@media (min-width: 550px) {
  #sidebar .in-box {
    width: 100%; } }
#sidebar .sidebar-img {
  margin: 10px auto 5px auto; }
#sidebar .sidebar-text {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 10px; }
@media (min-width: 550px) {
  #sidebar .sidebar-text {
    font-size: 1.3rem;
    margin-bottom: 10px; } }
#sidebar .more-btn {
  padding: 5px 0 15px 0;
  text-align: center; }

/*ページトップ*/
#page_top .container {
  background-color: #f9f8f6; }
#page_top .page_top {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 0;
  background-color: #f9f8f6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
#page_top hr {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 2px;
  background-color: #e2ddd4;
  border: none; }
@media (max-width: 550px) {
  #page_top .page_top {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px; } }

/*フッター*/
footer .footer_navi {
  padding-top: 20px;
  color: #000;
  font-size: 1.2rem; }
footer a {
  color: #000; }
footer .copy {
  margin-top: 20px;
  color: #666;
  font-size: 1rem; }
@media (max-width: 550px) {
  footer .copy {
    margin-top: 10px; } }

/*# sourceMappingURL=style.css.map */
